<div class="header">
    <div class="header-content">
        <div class="header-top">
            <a href="/" class="logo" draggable="false">
                <img src="/img/logohead.webp" alt="ENKA Electronics" class="logo-img" draggable="false">
            </a>
            
            <div class="search-box">
                <img src="/search.svg" class="search-icon" alt="">
                <input type="text" id="searchInput" placeholder="">
                <span class="search-clear">✖</span>
            </div>
            
            <div class="header-right">
                <button class="tracking-btn-header" id="trackingBtnHeader">📦 შეკვეთის სტატუსი (ტრექინგი)</button>
                <button class="consult-btn-header" id="consultBtnHeader">👨‍🔧 კონსულტაცია</button>
            </div>
        </div>
    </div>
</div>